.topnav {
    overflow: hidden;
    background-color: slategrey;
    display: flex;
    justify-content: space-evenly;
}

.topnav a {
    float: left;
    display: block;
    justify-content: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

.topnav .nav-register {
    background-color: #2f3535;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.center-box {
    padding-top: 2%;
    display: flex;
    justify-content: center;
}

.center-box form, .content-box {
    min-width: 60%;
}

.content-box {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.content-box h1{
    text-align: center;
}

.content-box h3{
    text-align: center;
}

.content-box h2{
    text-align: center;
}

.content-box button{
    margin-right: 0.5%;
}

.redirect {
    color:black;
}

.options {
    width: 100%;
}

#main-info-book {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
}

#main-info-book > div {
    border: 3px solid #2f3535;
    border-radius: 5px;
    padding: 1%;
}

#update-data input {
    width: 100%;
}


#body-writer-show td:first-child, #body-theme-show td:first-child{
    width: 75%;
}

#body-instance-show td {
    width: 25%;
}

