<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <nav>
        <div class="topnav">
            <a href="registerbook.html" class="nav-register">Register a book</a>
            <a href="books.html">Books</a>
            <a href="writers.html">Writers</a>
            <a href="themes.html">Themes</a>
        </div>

    </nav>
    <div class="listing">
        <table class="table darkred table-bordered">
            <thead id="header-table-books" class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Publishment in</th>
                <th scope="col">Publisher</th>
                <th scope="col">Themes</th>
                <th scope="col">Writers</th>
            </tr>
            </thead>
            <tbody id="body-table-books" class=""></tbody>
        </table>
    </div>

    <script src="js/books.js"></script>
</body>
</html>