<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css">
    </head>
    <body>
        <nav>
            <div class="topnav">
                <a href="books.html">Books</a>
                <a href="writers.html">Writers</a>
                <a href="themes.html">Themes</a>
            </div>
        </nav>
        <div class="center-box">
                <form class="content-box">
                    <h2>Register a new theme</h2>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input class="form-control" id="name" placeholder="Name of theme" required="required" maxlength="255">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" id="description" placeholder="Description of theme" required="required" maxlength="255" rows="4"></textarea>
                    </div>
                    <button type="button" class="btn btn-dark btn-block btn-lg mx-auto d-block register-button" onclick="registerTheme()">Submit</button>
                </form>
        </div>

    <script src="js/registertheme.js"></script>
    </body>
</html>