<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<nav>
  <div class="topnav">
    <a href="registertheme.html" class="nav-register">Register a theme</a>
    <a href="books.html">Books</a>
    <a href="writers.html">Writers</a>
    <a href="themes.html">Themes</a>
  </div>

</nav>
<div class="listing">
  <table class="table table-bordered">
    <thead id="header-table-themes" class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="row">N° of books</th>
    </tr>
    </thead>
    <tbody id="body-table-themes" class=""></tbody>
  </table>
</div>
<script src="js/themes.js"></script>
</body>
</html>